<html>
<head></head>
<body>
	<p>Dear {{user.user_first_name}} {{user.user_last_name}},</p>
	<div style="margin-left: 1em;">Please use one of the following instruction to reset your password-</div>
	<div style="margin-left: 1em;">1. Use the link below</div>
	<div style="margin-left: 1em;"><a href="{{ url_for('users.reset_password_with_token', token=token, _external=True) }}">click here</a></div><br>
	<div style="margin-left: 1em;">
		<div style="margin-left: 1em;">2. Copy and paste following link to your browser address bar</div><br>
		<div style="margin-left: 1em;">{{ url_for('users.reset_password_with_token', token=token, _external=True) }}</div><br><br>
	</div>
	<p>
		Sincerely,<br>
		<code>-Hemogram</code>
	</p>
</body>
</html>
