{% extends "base.html" %}
{% block content %}
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Dashboard</a></li>
         <li class="breadcrumb-item"><a href="{{ url_for('users.profile') }}">{{ current_user.user_first_name }} {{current_user.user_last_name}}</a></li>
         <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
   </nav>
   <div class="container">
      {% include '_flash.html' %}
      <!-- Outer Row -->
      <div class="row justify-content-center">
         <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                     <div class="col-lg-6 d-none d-lg-block bg-blood-cell"></div>
                     <div class="col-lg-6">
                        <div class="p-5">
                           <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Change Password Here!</h1>
                              <p class="mb-4">Please enter your old password and new password!</p>
                              <hr>
                           </div>
                           <form method="POST" action="">
                              {{ form.hidden_tag() }}
                              <fieldset class="form-group">
                                 <div class="form-group">
                                    {{ form.old_password.label(class="form-control-label") }}
                                    {% if form.old_password.errors %}
                                       {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                                       <div class="invalid-feedback">
                                          {% for error in form.password.errors %}
                                             <span>{{ error }}</span>
                                          {% endfor %}
                                       </div>
                                    {% else %}
                                       {{ form.old_password(class="form-control form-control-lg") }}
                                    {% endif %}
                                 </div>
                                 
                                 <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                       {{ form.password(class="form-control form-control-lg is-invalid") }}
                                       <div class="invalid-feedback">
                                          {% for error in form.password.errors %}
                                             <span>{{ error }}</span>
                                          {% endfor %}
                                       </div>
                                    {% else %}
                                       {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                 </div>
                                 <div class="form-group">
                                    {{ form.confirm_password.label(class="form-control-label") }}
                                    {% if form.confirm_password.errors %}
                                       {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                       <div class="invalid-feedback">
                                          {% for error in form.confirm_password.errors %}
                                             <span>{{ error }}</span>
                                          {% endfor %}
                                       </div>
                                    {% else %}
                                       {{ form.confirm_password(class="form-control form-control-lg") }}
                                    {% endif %}
                                 </div>
                                 <fieldset class="form-group">
                                    <div class="form-group">
                                       {{ form.submit(class="btn bg-purple btn-primary btn-user btn-block") }}
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      {% endblock content %}