
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.breadcrumb {
    position: relative;
    border-radius: 0;
    margin-left: -1.75em;
    margin-right: -1.75em;
    border-bottom: 1px solid #c8ced3;
  }
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.account-heading {
  font-size: 2.5rem;
}

#morphform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 20px;
}

  #morphform fieldset:not(:first-of-type){
    display: none;
  }

  .circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.divide-line{
  border-right: 1px solid #e0e0e0;
}

.input-group {
  margin-bottom: 1.25em;
}